doctype html
html
  head
    title Login | Pastime Legends Portal
    link(rel='stylesheet', href='css/style.css')
  body
    #login
      h2 Log In
      form#login_form
        input(type='text', value='Email')
        input(type='text', value='Password')
        input(type='submit', value='Log In')